<div class='container'>
    <h1>Our Car</h1>
    <div class='product-focus-area'>
      <div class='left'>
        <div class='thumbnail thumb-320'>
          <span>
            <img src="{{ voiture.image }}">
          </span>
        </div>
      </div>
      <div class='right'>
        <div class='product-detail'>
            {{ voiture.immatriculation }}
        </div>
        <div class='inner'>
          <div class='price-large'>
           Marque : {{ voiture.marque }}
            <br>
            Couleur :{{ voiture.couleur }}
            <br>
            Nombre de Sieges : {{ voiture.nbr_sieges }}
          </div>
          
          
        </div>
      </div>
    </div>
  </div>

  
 


  

